@*@using DrinkAndGo.Data.Models;
@model IEnumerable<Drink>;*@

@using DrinkAndGo.ViewModels
@model DrinkListViewModel

<div>
    <h2>All drinks are shown here</h2>
</div>

@*<h2>@ViewBag.Name</h2>*@
<h2>@Model.CurrentCategory</h2>

@{ 
    foreach (var drink in Model.Drinks)
    {
        <div>
            <h4>Drink: @drink.Name</h4>
            <p>Price: @drink.Price.ToString("c")/p>
        </div>
    }
}